# Pandas Exercise :


#### import necessary modules

In [168]:
import numpy as np
import pandas as pd

#### Load url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data" to a dataframe named wine_df

This is a wine dataset

In [169]:
wine_df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

#### print first five rows

In [170]:
wine_df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

#### assign wine_df to a different variable wine_df_copy and then delete all odd rows of wine_df_copy

[Hint](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [171]:
wine_df_copy = wine_df.copy(deep =True)
wine_df_copy.head()
odd_rows= [i for i in range(1,len(wine_df_copy.count(axis = 1))) if i%2!=0]
wine_df_copy.drop(odd_rows)

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.380000,1.05,3.40,1050
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.800000,0.86,3.45,1480
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.750000,1.05,2.85,1450
6,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.050000,1.06,3.58,1295
8,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.220000,1.01,3.55,1045
10,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.000000,1.17,2.82,1280
12,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.400000,1.25,2.73,1150
14,1,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.300000,1.28,2.88,1310
16,1,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.600000,1.13,2.57,1130
18,1,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.100000,0.96,3.36,845
20,1,12.93,3.80,2.65,18.6,102,2.41,2.41,0.25,1.98,4.500000,1.03,3.52,770
22,1,12.85,1.60,2.52,17.8,95,2.48,2.37,0.26,1.46,3.930000,1.09,3.63,1015
24,1,13.05,2.05,3.22,25.0,124,2.63,2.68,0.47,1.92,3.580000,1.13,3.20,830
26,1,13.30,1.72,2.14,17.0,94,2.40,2.19,0.27,1.35,3.950000,1.02,2.77,1285
28,1,14.02,1.68,2.21,16.0,96,2.65,2.33,0.26,1.98,4.700000,1.04,3.59,1035
30,1,13.58,1.66,2.36,19.1,106,2.86,3.19,0.22,1.95,6.900000,1.09,2.88,1515
32,1,13.76,1.53,2.70,19.5,132,2.95,2.74,0.50,1.35,5.400000,1.25,3.00,1235
34,1,13.48,1.81,2.41,20.5,100,2.70,2.98,0.26,1.86,5.100000,1.04,3.47,920
36,1,13.05,1.65,2.55,18.0,98,2.45,2.43,0.29,1.44,4.250000,1.12,2.51,1105
38,1,14.22,3.99,2.51,13.2,128,3.00,3.04,0.20,2.08,5.100000,0.89,3.53,760
40,1,13.41,3.84,2.12,18.8,90,2.45,2.68,0.27,1.48,4.280000,0.91,3.00,1035
42,1,13.24,3.98,2.29,17.5,103,2.64,2.63,0.32,1.66,4.360000,0.82,3.00,680
44,1,14.21,4.04,2.44,18.9,111,2.85,2.65,0.30,1.25,5.240000,0.87,3.33,1080
46,1,13.90,1.68,2.12,16.0,101,3.10,3.39,0.21,2.14,6.100000,0.91,3.33,985
48,1,13.94,1.73,2.27,17.4,108,2.88,3.54,0.32,2.08,8.900000,1.12,3.10,1260
50,1,13.83,1.65,2.60,17.2,94,2.45,2.99,0.22,2.29,5.600000,1.24,3.37,1265
52,1,13.77,1.90,2.68,17.1,115,3.00,2.79,0.39,1.68,6.300000,1.13,2.93,1375
54,1,13.56,1.73,2.46,20.5,116,2.96,2.78,0.20,2.45,6.250000,0.98,3.03,1120
56,1,13.29,1.97,2.68,16.8,102,3.00,3.23,0.31,1.66,6.000000,1.07,2.84,1270
58,2,12.37,0.94,1.36,10.6,88,1.98,0.57,0.28,0.42,1.950000,1.05,1.82,520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2,12.00,3.43,2.00,19.0,87,2.00,1.64,0.37,1.87,1.280000,0.93,3.05,564
120,2,11.56,2.05,3.23,28.5,119,3.18,5.08,0.47,1.87,6.000000,0.93,3.69,465
122,2,13.05,5.80,2.13,21.5,86,2.62,2.65,0.30,2.01,2.600000,0.73,3.10,380
124,2,12.07,2.16,2.17,21.0,85,2.60,2.65,0.37,1.35,2.760000,0.86,3.28,378
126,2,11.79,2.13,2.78,28.5,92,2.13,2.24,0.58,1.76,3.000000,0.97,2.44,466
128,2,12.04,4.30,2.38,22.0,80,2.10,1.75,0.42,1.35,2.600000,0.79,2.57,580
130,3,12.88,2.99,2.40,20.0,104,1.30,1.22,0.24,0.83,5.400000,0.74,1.42,530
132,3,12.70,3.55,2.36,21.5,106,1.70,1.20,0.17,0.84,5.000000,0.78,1.29,600
134,3,12.60,2.46,2.20,18.5,94,1.62,0.66,0.63,0.94,7.100000,0.73,1.58,695
136,3,12.53,5.51,2.64,25.0,96,1.79,0.60,0.63,1.10,5.000000,0.82,1.69,515
138,3,12.84,2.96,2.61,24.0,101,2.32,0.60,0.53,0.81,4.920000,0.89,2.15,590
140,3,13.36,2.56,2.35,20.0,89,1.40,0.50,0.37,0.64,5.600000,0.70,2.47,780
142,3,13.62,4.95,2.35,20.0,92,2.00,0.80,0.47,1.02,4.400000,0.91,2.05,550
144,3,13.16,3.57,2.15,21.0,102,1.50,0.55,0.43,1.30,4.000000,0.60,1.68,830
146,3,12.87,4.61,2.48,21.5,86,1.70,0.65,0.47,0.86,7.650000,0.54,1.86,625
148,3,13.08,3.90,2.36,21.5,113,1.41,1.39,0.34,1.14,9.400000,0.57,1.33,550
150,3,12.79,2.67,2.48,22.0,112,1.48,1.36,0.24,1.26,10.800000,0.48,1.47,480
152,3,13.23,3.30,2.28,18.5,98,1.80,0.83,0.61,1.87,10.520000,0.56,1.51,675
154,3,13.17,5.19,2.32,22.0,93,1.74,0.63,0.61,1.55,7.900000,0.60,1.48,725
156,3,12.45,3.03,2.64,27.0,97,1.90,0.58,0.63,1.14,7.500000,0.67,1.73,880
158,3,13.48,1.67,2.64,22.5,89,2.60,1.10,0.52,2.29,11.750000,0.57,1.78,620
160,3,13.69,3.26,2.54,20.0,107,1.83,0.56,0.50,0.80,5.880000,0.96,1.82,680
162,3,12.96,3.45,2.35,18.5,106,1.39,0.70,0.40,0.94,5.280000,0.68,1.75,675
164,3,13.73,4.36,2.26,22.5,88,1.28,0.47,0.52,1.15,6.620000,0.78,1.75,520
166,3,12.82,3.37,2.30,19.5,88,1.48,0.66,0.40,0.97,10.260000,0.72,1.75,685
168,3,13.40,4.60,2.86,25.0,112,1.98,0.96,0.27,1.11,8.500000,0.67,1.92,630
170,3,12.77,2.39,2.28,19.5,86,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.700000,0.64,1.74,740
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.200000,0.59,1.56,835
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.200000,0.61,1.60,560

#### Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) Alcohol  
2) Malic acid  
3) Ash  
4) Alcalinity of ash  
5) Magnesium  
6) Total phenols  
7) Flavanoids  
8) Nonflavanoid phenols  
9) Proanthocyanins  
10)Color intensity  
11)Hue  
12)OD280/OD315 of diluted wines  
13)Proline

In [172]:
wine_df.columns = ['Count','Alcohol','MAlic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids','Nonflavanoid phenols', 'Proanthocyanins','Color intensity','Hue', 'OD280/OD315 OF diluted wines', 'Proline']
wine_df.head()

,Count,Alcohol,MAlic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 OF diluted wines,Proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

#### Set the values of the first 3 rows from alcohol as NaN

Hint- Use iloc to select 3 rows of wine_df

In [173]:
wine_df.iloc[:3]='NaN'
wine_df.head()

,Count,Alcohol,MAlic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 OF diluted wines,Proline
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,13.24,2.59,2.87,21,118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.2,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

#### Create an array of 10 random numbers uptill 10 and assign it to a  variable named `random`

In [174]:
from random import *
random=[]
for i in range(10):
    random.append(randrange(0,10))

#### Use random numbers you generated as an index and assign NaN value to each of cell of the column alcohol

In [175]:
wine_df.loc[random,'Alcohol']='NaN'
wine_df.head(10)

,Count,Alcohol,MAlic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 OF diluted wines,Proline
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,13.24,2.59,2.87,21,118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.2,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
5,1,14.39,1.87,2.45,14.6,96,2.5,2.52,0.3,1.98,5.25,1.02,3.58,1290
6,1,NaN,2.15,2.61,17.6,121,2.6,2.51,0.31,1.25,5.05,1.06,3.58,1295
7,1,NaN,1.64,2.17,14,97,2.8,2.98,0.29,1.98,5.2,1.08,2.85,1045
8,1,NaN,1.35,2.27,16,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
9,1,14.1,2.16,2.3,18,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510

####  How many missing values do we have? 

Hint: you can use isnull() and sum()

In [182]:
wine_df.isnull().sum()

Count                           0
Alcohol                         0
MAlic acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 OF diluted wines    0
Proline                         0
dtype: int64

#### Delete the rows that contain missing values

### BONUS: Play with the data set below