[View in Colaboratory](https://colab.research.google.com/github/nabhoneel/Assignment-3/blob/nabhoneel/Exercise.ipynb)

# Pandas Exercise :


#### import necessary modules

In [0]:
import numpy as np
import pandas as pd

#### Load url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data" to a dataframe named wine_df

This is a wine dataset

In [0]:
wine_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

#### print first five rows

In [3]:
wine_df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

#### assign wine_df to a different variable wine_df_copy and then delete all odd rows of wine_df_copy

[Hint](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [4]:
wine_df_copy = wine_df # copied

# deleting odd rows:
wine_df_copy = wine_df_copy.drop(
    list(
        filter(
            lambda x : x%2 != 0, 
            np.arange(0, len(wine_df_copy))
        )
    )
)

print(wine_df_copy.head(10))

    1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29  5.64  1.04  3.92  \
0   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4   1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97  6.75  1.05  2.85
6   1  14.06  2.15  2.61  17.6  121  2.60  2.51  0.31  1.25  5.05  1.06  3.58
8   1  13.86  1.35  2.27  16.0   98  2.98  3.15  0.22  1.85  7.22  1.01  3.55
10  1  14.12  1.48  2.32  16.8   95  2.20  2.43  0.26  1.57  5.00  1.17  2.82
12  1  14.75  1.73  2.39  11.4   91  3.10  3.69  0.43  2.81  5.40  1.25  2.73
14  1  13.63  1.81  2.70  17.2  112  2.85  2.91  0.30  1.46  7.30  1.28  2.88
16  1  13.83  1.57  2.62  20.0  115  2.95  3.40  0.40  1.72  6.60  1.13  2.57
18  1  13.64  3.10  2.56  15.2  116  2.70  3.03  0.17  1.66  5.10  0.96  3.36

    1065
0   1050
2   1480
4   1450
6   1295
8   1045
10  1280
12  1150
14  1310
16  1130
18   845

#### Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) Alcohol  
2) Malic acid  
3) Ash  
4) Alcalinity of ash  
5) Magnesium  
6) Total phenols  
7) Flavanoids  
8) Nonflavanoid phenols  
9) Proanthocyanins  
10)Color intensity  
11)Hue  
12)OD280/OD315 of diluted wines  
13)Proline

In [6]:
wine_df.columns = ['1', 
                   'Alcohol', 
                   'Malic acid', 
                   'Ash', 
                   'Alcalinity of Ash',
                   'Magnesium',
                   'Total phenols',
                   'Flavanoids',
                   'Nonflavanoid phenols',
                   'Proanthocyanins',
                   'Color intensity',          
                   'Hue',
                   'OD280/OD315 of diluted wines',
                   'Proline']

print(wine_df.head())

   1  Alcohol  Malic acid   Ash  Alcalinity of Ash  Magnesium  Total phenols  \
0  1    13.20        1.78  2.14               11.2        100           2.65
1  1    13.16        2.36  2.67               18.6        101           2.80
2  1    14.37        1.95  2.50               16.8        113           3.85
3  1    13.24        2.59  2.87               21.0        118           2.80
4  1    14.20        1.76  2.45               15.2        112           3.27

   Flavanoids  Nonflavanoid phenols  Proanthocyanins  Color intensity   Hue  \
0        2.76                  0.26             1.28             4.38  1.05
1        3.24                  0.30             2.81             5.68  1.03
2        3.49                  0.24             2.18             7.80  0.86
3        2.69                  0.39             1.82             4.32  1.04
4        3.39                  0.34             1.97             6.75  1.05

   OD280/OD315 of diluted wines  Proline
0                          3.40     1050
1                          3.17     1185
2                          3.45     1480
3                          2.93      735
4                          2.85     1450

#### Set the values of the first 3 rows from alcohol as NaN

Hint- Use iloc to select 3 rows of wine_df

In [28]:
wine_df.iloc[:3, wine_df.columns.get_loc('Alcohol')] = np.nan

print(wine_df.head())

   1 Alcohol  Malic acid   Ash  Alcalinity of Ash  Magnesium  Total phenols  \
0  1     NaN        1.78  2.14               11.2        100           2.65
1  1     NaN        2.36  2.67               18.6        101           2.80
2  1     NaN        1.95  2.50               16.8        113           3.85
3  1   13.24        2.59  2.87               21.0        118           2.80
4  1    14.2        1.76  2.45               15.2        112           3.27

   Flavanoids  Nonflavanoid phenols  Proanthocyanins  Color intensity   Hue  \
0        2.76                  0.26             1.28             4.38  1.05
1        3.24                  0.30             2.81             5.68  1.03
2        3.49                  0.24             2.18             7.80  0.86
3        2.69                  0.39             1.82             4.32  1.04
4        3.39                  0.34             1.97             6.75  1.05

   OD280/OD315 of diluted wines  Proline
0                          3.40     1050
1                          3.17     1185
2                          3.45     1480
3                          2.93      735
4                          2.85     1450

#### Create an array of 10 random numbers uptill 10 and assign it to a  variable named `random`

In [29]:
random = np.random.randint(10, size=10)
print(random)

[5 9 6 6 4 5 8 9 6 1]

#### Use random numbers you generated as an index and assign NaN value to each of cell of the column alcohol

In [30]:
wine_df.iloc[lambda x : random, wine_df.columns.get_loc('Alcohol')] = np.nan

print(wine_df.head(10))

   1 Alcohol  Malic acid   Ash  Alcalinity of Ash  Magnesium  Total phenols  \
0  1     NaN        1.78  2.14               11.2        100           2.65
1  1     NaN        2.36  2.67               18.6        101           2.80
2  1     NaN        1.95  2.50               16.8        113           3.85
3  1   13.24        2.59  2.87               21.0        118           2.80
4  1     NaN        1.76  2.45               15.2        112           3.27
5  1     NaN        1.87  2.45               14.6         96           2.50
6  1     NaN        2.15  2.61               17.6        121           2.60
7  1     NaN        1.64  2.17               14.0         97           2.80
8  1     NaN        1.35  2.27               16.0         98           2.98
9  1     NaN        2.16  2.30               18.0        105           2.95

   Flavanoids  Nonflavanoid phenols  Proanthocyanins  Color intensity   Hue  \
0        2.76                  0.26             1.28             4.38  1.05
1        3.24                  0.30             2.81             5.68  1.03
2        3.49                  0.24             2.18             7.80  0.86
3        2.69                  0.39             1.82             4.32  1.04
4        3.39                  0.34             1.97             6.75  1.05
5        2.52                  0.30             1.98             5.25  1.02
6        2.51                  0.31             1.25             5.05  1.06
7        2.98                  0.29             1.98             5.20  1.08
8        3.15                  0.22             1.85             7.22  1.01
9        3.32                  0.22             2.38             5.75  1.25

   OD280/OD315 of diluted wines  Proline
0                          3.40     1050
1                          3.17     1185
2                          3.45     1480
3                          2.93      735
4                          2.85     1450
5                          3.58     1290
6                          3.58     1295
7                          2.85     1045
8                          3.55     1045
9                          3.17     1510

####  How many missing values do we have? 

Hint: you can use isnull() and sum()

In [33]:
wine_df.isnull().sum()

1                               0
Alcohol                         9
Malic acid                      0
Ash                             0
Alcalinity of Ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

#### Delete the rows that contain missing values

### BONUS: Play with the data set below