In [0]:
import numpy as np
import pandas as pd

In [0]:
wine_df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

In [11]:
wine_df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [12]:
wine_df_copy=wine_df
print(wine_df_copy)

     1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29       5.64  1.04  \
0    1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.380000  1.05
1    1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81   5.680000  1.03
2    1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18   7.800000  0.86
3    1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82   4.320000  1.04
4    1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97   6.750000  1.05
5    1  14.39  1.87  2.45  14.6   96  2.50  2.52  0.30  1.98   5.250000  1.02
6    1  14.06  2.15  2.61  17.6  121  2.60  2.51  0.31  1.25   5.050000  1.06
7    1  14.83  1.64  2.17  14.0   97  2.80  2.98  0.29  1.98   5.200000  1.08
8    1  13.86  1.35  2.27  16.0   98  2.98  3.15  0.22  1.85   7.220000  1.01
9    1  14.10  2.16  2.30  18.0  105  2.95  3.32  0.22  2.38   5.750000  1.25
10   1  14.12  1.48  2.32  16.8   95  2.20  2.43  0.26  1.57   5.000000  1.17
11   1  13.75  1.73  2.41  16.0   89  2.60  2.76  0.29  1.81   5.600000  1.15
12   1  14.75  1.73  2.39  11.4   91  3.10  3.69  0.43  2.81   5.400000  1.25
13   1  14.38  1.87  2.38  12.0  102  3.30  3.64  0.29  2.96   7.500000  1.20
14   1  13.63  1.81  2.70  17.2  112  2.85  2.91  0.30  1.46   7.300000  1.28
15   1  14.30  1.92  2.72  20.0  120  2.80  3.14  0.33  1.97   6.200000  1.07
16   1  13.83  1.57  2.62  20.0  115  2.95  3.40  0.40  1.72   6.600000  1.13
17   1  14.19  1.59  2.48  16.5  108  3.30  3.93  0.32  1.86   8.700000  1.23
18   1  13.64  3.10  2.56  15.2  116  2.70  3.03  0.17  1.66   5.100000  0.96
19   1  14.06  1.63  2.28  16.0  126  3.00  3.17  0.24  2.10   5.650000  1.09
20   1  12.93  3.80  2.65  18.6  102  2.41  2.41  0.25  1.98   4.500000  1.03
21   1  13.71  1.86  2.36  16.6  101  2.61  2.88  0.27  1.69   3.800000  1.11
22   1  12.85  1.60  2.52  17.8   95  2.48  2.37  0.26  1.46   3.930000  1.09
23   1  13.50  1.81  2.61  20.0   96  2.53  2.61  0.28  1.66   3.520000  1.12
24   1  13.05  2.05  3.22  25.0  124  2.63  2.68  0.47  1.92   3.580000  1.13
25   1  13.39  1.77  2.62  16.1   93  2.85  2.94  0.34  1.45   4.800000  0.92
26   1  13.30  1.72  2.14  17.0   94  2.40  2.19  0.27  1.35   3.950000  1.02
27   1  13.87  1.90  2.80  19.4  107  2.95  2.97  0.37  1.76   4.500000  1.25
28   1  14.02  1.68  2.21  16.0   96  2.65  2.33  0.26  1.98   4.700000  1.04
29   1  13.73  1.50  2.70  22.5  101  3.00  3.25  0.29  2.38   5.700000  1.19
..  ..    ...   ...   ...   ...  ...   ...   ...   ...   ...        ...   ...
147  3  13.32  3.24  2.38  21.5   92  1.93  0.76  0.45  1.25   8.420000  0.55
148  3  13.08  3.90  2.36  21.5  113  1.41  1.39  0.34  1.14   9.400000  0.57
149  3  13.50  3.12  2.62  24.0  123  1.40  1.57  0.22  1.25   8.600000  0.59
150  3  12.79  2.67  2.48  22.0  112  1.48  1.36  0.24  1.26  10.800000  0.48
151  3  13.11  1.90  2.75  25.5  116  2.20  1.28  0.26  1.56   7.100000  0.61
152  3  13.23  3.30  2.28  18.5   98  1.80  0.83  0.61  1.87  10.520000  0.56
153  3  12.58  1.29  2.10  20.0  103  1.48  0.58  0.53  1.40   7.600000  0.58
154  3  13.17  5.19  2.32  22.0   93  1.74  0.63  0.61  1.55   7.900000  0.60
155  3  13.84  4.12  2.38  19.5   89  1.80  0.83  0.48  1.56   9.010000  0.57
156  3  12.45  3.03  2.64  27.0   97  1.90  0.58  0.63  1.14   7.500000  0.67
157  3  14.34  1.68  2.70  25.0   98  2.80  1.31  0.53  2.70  13.000000  0.57
158  3  13.48  1.67  2.64  22.5   89  2.60  1.10  0.52  2.29  11.750000  0.57
159  3  12.36  3.83  2.38  21.0   88  2.30  0.92  0.50  1.04   7.650000  0.56
160  3  13.69  3.26  2.54  20.0  107  1.83  0.56  0.50  0.80   5.880000  0.96
161  3  12.85  3.27  2.58  22.0  106  1.65  0.60  0.60  0.96   5.580000  0.87
162  3  12.96  3.45  2.35  18.5  106  1.39  0.70  0.40  0.94   5.280000  0.68
163  3  13.78  2.76  2.30  22.0   90  1.35  0.68  0.41  1.03   9.580000  0.70
164  3  13.73  4.36  2.26  22.5   88  1.28  0.47  0.52  1.15   6.620000  0.78
165  3  13.45  3.70  2.60  23.0  111  1.70  0.92  0.43  1.46  10.680000  0.85
166  3  12.82  3.37  2.30  19.5   88  1.48  0.66  0.40  0.97  10.260000  0.72
167  3  13.58  2.58  2.69  24.5  105  1.55  0.84  0.39  1.54   8.660000  0.74
168  3  13.40  4.60  2.86  25.0  112  1.98  0.96  0.27  1.11   8.500000  0.67
169  3  12.20  3.03  2.32  19.0   96  1.25  0.49  0.40  0.73   5.500000  0.66
170  3  12.77  2.39  2.28  19.5   86  1.39  0.51  0.48  0.64   9.899999  0.57
171  3  14.16  2.51  2.48  20.0   91  1.68  0.70  0.44  1.24   9.700000  0.62
172  3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.700000  0.64
173  3  13.40  3.91  2.48  23.0  102  1.80  0.75  0.43  1.41   7.300000  0.70
174  3  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35  10.200000  0.59
175  3  13.17  2.59  2.37  20.0  120  1.65  0.68  0.53  1.46   9.300000  0.60
176  3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.200000  0.61

     3.92  1065
0    3.40  1050
1    3.17  1185
2    3.45  1480
3    2.93   735
4    2.85  1450
5    3.58  1290
6    3.58  1295
7    2.85  1045
8    3.55  1045
9    3.17  1510
10   2.82  1280
11   2.90  1320
12   2.73  1150
13   3.00  1547
14   2.88  1310
15   2.65  1280
16   2.57  1130
17   2.82  1680
18   3.36   845
19   3.71   780
20   3.52   770
21   4.00  1035
22   3.63  1015
23   3.82   845
24   3.20   830
25   3.22  1195
26   2.77  1285
27   3.40   915
28   3.59  1035
29   2.71  1285
..    ...   ...
147  1.62   650
148  1.33   550
149  1.30   500
150  1.47   480
151  1.33   425
152  1.51   675
153  1.55   640
154  1.48   725
155  1.64   480
156  1.73   880
157  1.96   660
158  1.78   620
159  1.58   520
160  1.82   680
161  2.11   570
162  1.75   675
163  1.68   615
164  1.75   520
165  1.56   695
166  1.75   685
167  1.80   750
168  1.92   630
169  1.83   510
170  1.63   470
171  1.71   660
172  1.74   740
173  1.56   750
174  1.56   835
175  1.62   840
176  1.60   560

[177 rows x 14 columns]

In [0]:

wine_df_copy=wine_df_copy[::2]

In [17]:
print(wine_df_copy)

     1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29   5.64  1.04  \
0    1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05
4    1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97   6.75  1.05
8    1  13.86  1.35  2.27  16.0   98  2.98  3.15  0.22  1.85   7.22  1.01
12   1  14.75  1.73  2.39  11.4   91  3.10  3.69  0.43  2.81   5.40  1.25
16   1  13.83  1.57  2.62  20.0  115  2.95  3.40  0.40  1.72   6.60  1.13
20   1  12.93  3.80  2.65  18.6  102  2.41  2.41  0.25  1.98   4.50  1.03
24   1  13.05  2.05  3.22  25.0  124  2.63  2.68  0.47  1.92   3.58  1.13
28   1  14.02  1.68  2.21  16.0   96  2.65  2.33  0.26  1.98   4.70  1.04
32   1  13.76  1.53  2.70  19.5  132  2.95  2.74  0.50  1.35   5.40  1.25
36   1  13.05  1.65  2.55  18.0   98  2.45  2.43  0.29  1.44   4.25  1.12
40   1  13.41  3.84  2.12  18.8   90  2.45  2.68  0.27  1.48   4.28  0.91
44   1  14.21  4.04  2.44  18.9  111  2.85  2.65  0.30  1.25   5.24  0.87
48   1  13.94  1.73  2.27  17.4  108  2.88  3.54  0.32  2.08   8.90  1.12
52   1  13.77  1.90  2.68  17.1  115  3.00  2.79  0.39  1.68   6.30  1.13
56   1  13.29  1.97  2.68  16.8  102  3.00  3.23  0.31  1.66   6.00  1.07
60   2  12.64  1.36  2.02  16.8  100  2.02  1.41  0.53  0.62   5.75  0.98
64   2  12.37  1.21  2.56  18.1   98  2.42  2.65  0.37  2.08   4.60  1.19
68   2  12.21  1.19  1.75  16.8  151  1.85  1.28  0.14  2.50   2.85  1.28
72   2  12.99  1.67  2.60  30.0  139  3.30  2.89  0.21  1.96   3.35  1.31
76   2  11.84  2.89  2.23  18.0  112  1.72  1.32  0.43  0.95   2.65  0.96
80   2  12.72  1.81  2.20  18.8   86  2.20  2.53  0.26  1.77   3.90  1.16
84   2  12.67  0.98  2.24  18.0   99  2.20  1.94  0.30  1.46   2.62  1.23
88   2  12.08  1.33  2.30  23.6   70  2.20  1.59  0.42  1.38   1.74  1.07
92   2  12.29  2.83  2.22  18.0   88  2.45  2.25  0.25  1.99   2.15  1.15
96   2  12.29  1.41  1.98  16.0   85  2.55  2.50  0.29  1.77   2.90  1.23
100  2  12.60  1.34  1.90  18.5   88  1.45  1.36  0.29  1.35   2.45  1.04
104  2  12.42  2.55  2.27  22.0   90  1.68  1.84  0.66  1.42   2.70  0.86
108  2  11.61  1.35  2.70  20.0   94  2.74  2.92  0.29  2.49   2.65  0.96
112  2  11.41  0.74  2.50  21.0   88  2.48  2.01  0.42  1.44   3.08  1.10
116  2  12.42  1.61  2.19  22.5  108  2.00  2.09  0.34  1.61   2.06  1.06
120  2  11.56  2.05  3.23  28.5  119  3.18  5.08  0.47  1.87   6.00  0.93
124  2  12.07  2.16  2.17  21.0   85  2.60  2.65  0.37  1.35   2.76  0.86
128  2  12.04  4.30  2.38  22.0   80  2.10  1.75  0.42  1.35   2.60  0.79
132  3  12.70  3.55  2.36  21.5  106  1.70  1.20  0.17  0.84   5.00  0.78
136  3  12.53  5.51  2.64  25.0   96  1.79  0.60  0.63  1.10   5.00  0.82
140  3  13.36  2.56  2.35  20.0   89  1.40  0.50  0.37  0.64   5.60  0.70
144  3  13.16  3.57  2.15  21.0  102  1.50  0.55  0.43  1.30   4.00  0.60
148  3  13.08  3.90  2.36  21.5  113  1.41  1.39  0.34  1.14   9.40  0.57
152  3  13.23  3.30  2.28  18.5   98  1.80  0.83  0.61  1.87  10.52  0.56
156  3  12.45  3.03  2.64  27.0   97  1.90  0.58  0.63  1.14   7.50  0.67
160  3  13.69  3.26  2.54  20.0  107  1.83  0.56  0.50  0.80   5.88  0.96
164  3  13.73  4.36  2.26  22.5   88  1.28  0.47  0.52  1.15   6.62  0.78
168  3  13.40  4.60  2.86  25.0  112  1.98  0.96  0.27  1.11   8.50  0.67
172  3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64
176  3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61

     3.92  1065
0    3.40  1050
4    2.85  1450
8    3.55  1045
12   2.73  1150
16   2.57  1130
20   3.52   770
24   3.20   830
28   3.59  1035
32   3.00  1235
36   2.51  1105
40   3.00  1035
44   3.33  1080
48   3.10  1260
52   2.93  1375
56   2.84  1270
60   1.59   450
64   2.30   678
68   3.07   718
72   3.50   985
76   2.52   500
80   3.14   714
84   3.16   450
88   3.21   625
92   3.30   290
96   2.74   428
100  2.77   562
104  3.30   315
108  3.26   680
112  2.31   434
116  2.96   345
120  3.69   465
124  3.28   378
128  2.57   580
132  1.29   600
136  1.69   515
140  2.47   780
144  1.68   830
148  1.33   550
152  1.51   675
156  1.73   880
160  1.82   680
164  1.75   520
168  1.92   630
172  1.74   740
176  1.60   560

In [0]:
wine_df_copy.rename(columns={1:'Alcohol',14.23:'Malic Acid',1.71:'Ash',2.43:'Alcalinity of ash',15.6:'Magnesium',127:'Total phenols',2.8:'Flavanoids',3.06:'Nonflavanoids phenols',.28:'Proanthocyanins',2.29:'Color intenstiy',5.64:'Hue',1.04:'OD280/OD315 of diluted wines',3.92:'Proline'},inplace=True)
#Renaming columns

In [23]:
print(wine_df_copy)

     1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29   5.64  1.04  \
0    1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05
4    1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97   6.75  1.05
8    1  13.86  1.35  2.27  16.0   98  2.98  3.15  0.22  1.85   7.22  1.01
12   1  14.75  1.73  2.39  11.4   91  3.10  3.69  0.43  2.81   5.40  1.25
16   1  13.83  1.57  2.62  20.0  115  2.95  3.40  0.40  1.72   6.60  1.13
20   1  12.93  3.80  2.65  18.6  102  2.41  2.41  0.25  1.98   4.50  1.03
24   1  13.05  2.05  3.22  25.0  124  2.63  2.68  0.47  1.92   3.58  1.13
28   1  14.02  1.68  2.21  16.0   96  2.65  2.33  0.26  1.98   4.70  1.04
32   1  13.76  1.53  2.70  19.5  132  2.95  2.74  0.50  1.35   5.40  1.25
36   1  13.05  1.65  2.55  18.0   98  2.45  2.43  0.29  1.44   4.25  1.12
40   1  13.41  3.84  2.12  18.8   90  2.45  2.68  0.27  1.48   4.28  0.91
44   1  14.21  4.04  2.44  18.9  111  2.85  2.65  0.30  1.25   5.24  0.87
48   1  13.94  1.73  2.27  17.4  108  2.88  3.54  0.32  2.08   8.90  1.12
52   1  13.77  1.90  2.68  17.1  115  3.00  2.79  0.39  1.68   6.30  1.13
56   1  13.29  1.97  2.68  16.8  102  3.00  3.23  0.31  1.66   6.00  1.07
60   2  12.64  1.36  2.02  16.8  100  2.02  1.41  0.53  0.62   5.75  0.98
64   2  12.37  1.21  2.56  18.1   98  2.42  2.65  0.37  2.08   4.60  1.19
68   2  12.21  1.19  1.75  16.8  151  1.85  1.28  0.14  2.50   2.85  1.28
72   2  12.99  1.67  2.60  30.0  139  3.30  2.89  0.21  1.96   3.35  1.31
76   2  11.84  2.89  2.23  18.0  112  1.72  1.32  0.43  0.95   2.65  0.96
80   2  12.72  1.81  2.20  18.8   86  2.20  2.53  0.26  1.77   3.90  1.16
84   2  12.67  0.98  2.24  18.0   99  2.20  1.94  0.30  1.46   2.62  1.23
88   2  12.08  1.33  2.30  23.6   70  2.20  1.59  0.42  1.38   1.74  1.07
92   2  12.29  2.83  2.22  18.0   88  2.45  2.25  0.25  1.99   2.15  1.15
96   2  12.29  1.41  1.98  16.0   85  2.55  2.50  0.29  1.77   2.90  1.23
100  2  12.60  1.34  1.90  18.5   88  1.45  1.36  0.29  1.35   2.45  1.04
104  2  12.42  2.55  2.27  22.0   90  1.68  1.84  0.66  1.42   2.70  0.86
108  2  11.61  1.35  2.70  20.0   94  2.74  2.92  0.29  2.49   2.65  0.96
112  2  11.41  0.74  2.50  21.0   88  2.48  2.01  0.42  1.44   3.08  1.10
116  2  12.42  1.61  2.19  22.5  108  2.00  2.09  0.34  1.61   2.06  1.06
120  2  11.56  2.05  3.23  28.5  119  3.18  5.08  0.47  1.87   6.00  0.93
124  2  12.07  2.16  2.17  21.0   85  2.60  2.65  0.37  1.35   2.76  0.86
128  2  12.04  4.30  2.38  22.0   80  2.10  1.75  0.42  1.35   2.60  0.79
132  3  12.70  3.55  2.36  21.5  106  1.70  1.20  0.17  0.84   5.00  0.78
136  3  12.53  5.51  2.64  25.0   96  1.79  0.60  0.63  1.10   5.00  0.82
140  3  13.36  2.56  2.35  20.0   89  1.40  0.50  0.37  0.64   5.60  0.70
144  3  13.16  3.57  2.15  21.0  102  1.50  0.55  0.43  1.30   4.00  0.60
148  3  13.08  3.90  2.36  21.5  113  1.41  1.39  0.34  1.14   9.40  0.57
152  3  13.23  3.30  2.28  18.5   98  1.80  0.83  0.61  1.87  10.52  0.56
156  3  12.45  3.03  2.64  27.0   97  1.90  0.58  0.63  1.14   7.50  0.67
160  3  13.69  3.26  2.54  20.0  107  1.83  0.56  0.50  0.80   5.88  0.96
164  3  13.73  4.36  2.26  22.5   88  1.28  0.47  0.52  1.15   6.62  0.78
168  3  13.40  4.60  2.86  25.0  112  1.98  0.96  0.27  1.11   8.50  0.67
172  3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64
176  3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61

     3.92  1065
0    3.40  1050
4    2.85  1450
8    3.55  1045
12   2.73  1150
16   2.57  1130
20   3.52   770
24   3.20   830
28   3.59  1035
32   3.00  1235
36   2.51  1105
40   3.00  1035
44   3.33  1080
48   3.10  1260
52   2.93  1375
56   2.84  1270
60   1.59   450
64   2.30   678
68   3.07   718
72   3.50   985
76   2.52   500
80   3.14   714
84   3.16   450
88   3.21   625
92   3.30   290
96   2.74   428
100  2.77   562
104  3.30   315
108  3.26   680
112  2.31   434
116  2.96   345
120  3.69   465
124  3.28   378
128  2.57   580
132  1.29   600
136  1.69   515
140  2.47   780
144  1.68   830
148  1.33   550
152  1.51   675
156  1.73   880
160  1.82   680
164  1.75   520
168  1.92   630
172  1.74   740
176  1.60   560

In [24]:
wine_df_copy.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
8,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
12,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150
16,1,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.60,1.13,2.57,1130

Create an array of 10 random numbers uptill 10 and assign it to a variable named random

In [32]:
import random 
i=0
r=[]
for i in range(10):
  a=random.uniform(float(1),float(10))
  r.append(a)
  i+=1
print(r)

[1.0355307122667285, 2.876907827121046, 8.449537712749636, 9.986961903306137, 1.557510551343713, 1.302624967986766, 1.1265007673179914, 6.788163856067978, 4.956732917260711, 2.3207323299399345]