**PANDAS EXERCISE:**

1) Import necessary modules:-

In [0]:
import numpy as np
import pandas as pd

2) Load url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data" to a dataframe named wine_df
This is a wine dataset

In [0]:
#wine_df =  pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header=None)
wine_dtf =  pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')
#df = pd.DataFrame(wine_dtf.values,columns=['Alcohol','MAlic Acid',	'Ash',	"Alcalinity of Ash",	"MAgnesium",	"Total phenols",	"Flavanoids",	"NF phenols",	"Proanthocyanin",	"Color intensity",	"Hue",	"code",	"Proline"])     
#names=None)
df = pd.DataFrame(wine_dtf.values)

In [0]:
wine_df =  pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header=None)

3) Print first five rows:

In [0]:
#print(wine_df.head())

#wine_df.head(5)

print(fr.head(10))

    0      1     2     3     4      5     6     7     8     9     10    11  \
0  1.0  13.20  1.78  2.14  11.2  100.0  2.65  2.76  0.26  1.28  4.38  1.05
1  1.0  13.16  2.36  2.67  18.6  101.0  2.80  3.24  0.30  2.81  5.68  1.03
2  1.0  14.37  1.95  2.50  16.8  113.0  3.85  3.49  0.24  2.18  7.80  0.86
3  1.0  13.24  2.59  2.87  21.0  118.0  2.80  2.69  0.39  1.82  4.32  1.04
4  1.0  14.20  1.76  2.45  15.2  112.0  3.27  3.39  0.34  1.97  6.75  1.05
5  1.0  14.39  1.87  2.45  14.6   96.0  2.50  2.52  0.30  1.98  5.25  1.02
6  1.0  14.06  2.15  2.61  17.6  121.0  2.60  2.51  0.31  1.25  5.05  1.06
7  1.0  14.83  1.64  2.17  14.0   97.0  2.80  2.98  0.29  1.98  5.20  1.08
8  1.0  13.86  1.35  2.27  16.0   98.0  2.98  3.15  0.22  1.85  7.22  1.01
9  1.0  14.10  2.16  2.30  18.0  105.0  2.95  3.32  0.22  2.38  5.75  1.25

     12      13
0  3.40  1050.0
1  3.17  1185.0
2  3.45  1480.0
3  2.93   735.0
4  2.85  1450.0
5  3.58  1290.0
6  3.58  1295.0
7  2.85  1045.0
8  3.55  1045.0
9  3.17  1510.0

In [0]:
print(wine_df.head())

wine_df.head(5)

   0      1     2     3     4    5     6     7     8     9     10    11    12  \
0   1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2   1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4   1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93

     13
0  1065
1  1050
2  1185
3  1480
4   735

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

4) Assign wine_df to a different variable wine_df_copy and then delete all odd rows of wine_df_copy

In [0]:
wine_df_copy = wine_df
print(wine_df_copy.head()) #to check if earlier assignment operation worked
#for i in range(0,180):
 # if (i%2!=0):
  #  wine_df_copy.drop(wine_df_copy.index[i],axis=1)
#print(wine_df_copy)    

#wine_df_copy.drop((0,1))
    #wine_df_copy.drop(i,axis=0)
#wine_df_copy

   0      1     2     3     4    5     6     7     8     9     10    11    12  \
0   1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2   1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4   1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93

     13
0  1065
1  1050
2  1185
3  1480
4   735

In [0]:
wine_df_copy.iloc[::2]
print(wine_df_copy.head(10))

   0      1     2     3     4    5     6     7     8     9     10    11    12  \
0   1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2   1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4   1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93
5   1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97  6.75  1.05  2.85
6   1  14.39  1.87  2.45  14.6   96  2.50  2.52  0.30  1.98  5.25  1.02  3.58
7   1  14.06  2.15  2.61  17.6  121  2.60  2.51  0.31  1.25  5.05  1.06  3.58
8   1  14.83  1.64  2.17  14.0   97  2.80  2.98  0.29  1.98  5.20  1.08  2.85
9   1  13.86  1.35  2.27  16.0   98  2.98  3.15  0.22  1.85  7.22  1.01  3.55

     13
0  1065
1  1050
2  1185
3  1480
4   735
5  1450
6  1290
7  1295
8  1045
9  1045

In [0]:
'''#wine_df_copy.drop(1)
for i in range(0,180):
  if (i%2!=0):
    wine_df_copy.drop(i,axis=0)
wine_df_copy'''

'#wine_df_copy.drop(1)\nfor i in range(0,180):\n  if (i%2!=0):\n    wine_df_copy.drop(i,axis=0)\nwine_df_copy'

In [0]:
#iris_df[(iris_df['sepal_width']>3.3)
#wine_df_copy.index.name='m' #this is working
#wine_df_copy[(wine_df_copy[m])%2!=0] #please help with this

5) Assign the columns as below:
The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):
1) Alcohol
2) Malic acid
3) Ash
4) Alcalinity of ash
5) Magnesium
6) Total phenols
7) Flavanoids
8) Nonflavanoid phenols
9) Proanthocyanins
10)Color intensity
11)Hue
12)OD280/OD315 of diluted wines
13)Proline

In [0]:
wine_df = wine_df.rename({'0':'Alcohol',	'1':'MAlic Acid',	'2':'Ash',	'3':'Alcalinity of Ash',	'4':'MAgnesium',	'5':'Total phenols',	'6':'Flavanoids',	'7':'NF phenols',	'8':'Proanthocyanin',	'9':'Color intensity',	'10':'Hue',	'11':'code',	'12':'Proline', '13':'alryt'}, axis=1)
#wine_df = wine_df.rename(columns={'Alcohol','MAlic Acid',	'Ash',	'Alcalinity of Ash',	'MAgnesium',	'Total phenols',	'Flavanoids',	'NF phenols',	'Proanthocyanin',	'Color intensity',	'Hue',	'code',	'Proline'}
print(wine_df.head(5))
#wine_df.columns("Alcohol","MAlic Acid",	'Ash',	'Alcalinity of Ash',	'MAgnesium',	'Total phenols',	'Flavanoids',	'NF phenols',	'Proanthocyanin',	'Color intensity',	'Hue',	'code',	'Proliny
#wine_df = wine_df.rename(columns = {"0":"Alcohol",	'1':'MAlic Acid',	'2':'Ash',	'3':'Alcalinity of Ash',	'4':'MAgnesium',	'5':'Total phenols',	'6':'Flavanoids',	'7':'NF phenols',	'8':'Proanthocyanin',	'9':'Color intensity',	'10':'Hue',	'11':'code',	'12':'Proline'}, axis='columns')
"""No idea what's happening here, please mail if you get it."""

   ok  Alcohol  MAlic Acid   Ash  Alcalinity of Ash  MAgnesium  Total phenols  \
m
0   1    14.23        1.71  2.43               15.6        127           2.80
1   1    13.20        1.78  2.14               11.2        100           2.65
2   1    13.16        2.36  2.67               18.6        101           2.80
3   1    14.37        1.95  2.50               16.8        113           3.85
4   1    13.24        2.59  2.87               21.0        118           2.80

   Flavanoids  NF phenols  Proanthocyanin  Color intensity   Hue  code  \
m
0        3.06        0.28            2.29             5.64  1.04  3.92
1        2.76        0.26            1.28             4.38  1.05  3.40
2        3.24        0.30            2.81             5.68  1.03  3.17
3        3.49        0.24            2.18             7.80  0.86  3.45
4        2.69        0.39            1.82             4.32  1.04  2.93

   Proline
m
0     1065
1     1050
2     1185
3     1480
4      735

"No idea what's happening here, please mail if you get it."

In [0]:
wine_df.set_axis(['ok','Alcohol','MAlic Acid',	'Ash',	'Alcalinity of Ash',	'MAgnesium',	'Total phenols',	'Flavanoids',	'NF phenols',	'Proanthocyanin',	'Color intensity',	'Hue',	'code',	'Proline'], axis=1, inplace=True)
print(wine_df.head(4))

   ok  Alcohol  MAlic Acid   Ash  Alcalinity of Ash  MAgnesium  Total phenols  \
m
0   1    14.23        1.71  2.43               15.6        127           2.80
1   1    13.20        1.78  2.14               11.2        100           2.65
2   1    13.16        2.36  2.67               18.6        101           2.80
3   1    14.37        1.95  2.50               16.8        113           3.85

   Flavanoids  NF phenols  Proanthocyanin  Color intensity   Hue  code  \
m
0        3.06        0.28            2.29             5.64  1.04  3.92
1        2.76        0.26            1.28             4.38  1.05  3.40
2        3.24        0.30            2.81             5.68  1.03  3.17
3        3.49        0.24            2.18             7.80  0.86  3.45

   Proline
m
0     1065
1     1050
2     1185
3     1480

In [0]:
print(wine_df.head(12))

    ok  Alcohol  MAlic Acid   Ash  Alcalinity of Ash  MAgnesium  \
m
0    1    14.23        1.71  2.43               15.6        127
1    1    13.20        1.78  2.14               11.2        100
2    1    13.16        2.36  2.67               18.6        101
3    1    14.37        1.95  2.50               16.8        113
4    1    13.24        2.59  2.87               21.0        118
5    1    14.20        1.76  2.45               15.2        112
6    1    14.39        1.87  2.45               14.6         96
7    1    14.06        2.15  2.61               17.6        121
8    1    14.83        1.64  2.17               14.0         97
9    1    13.86        1.35  2.27               16.0         98
10   1    14.10        2.16  2.30               18.0        105
11   1    14.12        1.48  2.32               16.8         95

    Total phenols  Flavanoids  NF phenols  Proanthocyanin  Color intensity  \
m
0            2.80        3.06        0.28            2.29             5.64
1            2.65        2.76        0.26            1.28             4.38
2            2.80        3.24        0.30            2.81             5.68
3            3.85        3.49        0.24            2.18             7.80
4            2.80        2.69        0.39            1.82             4.32
5            3.27        3.39        0.34            1.97             6.75
6            2.50        2.52        0.30            1.98             5.25
7            2.60        2.51        0.31            1.25             5.05
8            2.80        2.98        0.29            1.98             5.20
9            2.98        3.15        0.22            1.85             7.22
10           2.95        3.32        0.22            2.38             5.75
11           2.20        2.43        0.26            1.57             5.00

     Hue  code  Proline
m
0   1.04  3.92     1065
1   1.05  3.40     1050
2   1.03  3.17     1185
3   0.86  3.45     1480
4   1.04  2.93      735
5   1.05  2.85     1450
6   1.02  3.58     1290
7   1.06  3.58     1295
8   1.08  2.85     1045
9   1.01  3.55     1045
10  1.25  3.17     1510
11  1.17  2.82     1280

6)Set the values of the first 3 rows from alcohol as NaN
Hint- Use iloc to select 3 rows of wine_df

In [0]:
'''have tried:'''
#wine_df.Alcohol.iloc[[1,2,3]]='NaN'
#wine_df.Alcohol.iloc[0:3]='NaN'
'''several other ways but failed, hence, below:-'''

'several other ways but failed, hence, below:-'

In [0]:
wine_df.iloc[0,0] = np.NaN
wine_df.iloc[1,0] = np.NaN
wine_df.iloc[2,0] = np.NaN
print(wine_df.head(4))
#please suggest a better  way

    ok  Alcohol  MAlic Acid   Ash  Alcalinity of Ash MAgnesium  Total phenols  \
m
0  NaN    14.23        1.71  2.43               15.6       127           2.80
1  NaN    13.20        1.78  2.14               11.2       100           2.65
2  NaN    13.16        2.36  2.67               18.6       101           2.80
3    1    14.37        1.95  2.50               16.8       113           3.85

   Flavanoids  NF phenols  Proanthocyanin  Color intensity   Hue  code  \
m
0        3.06        0.28            2.29             5.64  1.04  3.92
1        2.76        0.26            1.28             4.38  1.05   NaN
2        3.24        0.30            2.81             5.68  1.03  3.17
3        3.49        0.24            2.18             7.80  0.86  3.45

   Proline
m
0     1065
1     1050
2     1185
3     1480

7)Create an array of 10 random numbers uptill 10 and assign it to a variable named random

In [0]:
random=np.arange(11)
print(random)
x = [i for i in range(10)]
print(x)

[ 0  1  2  3  4  5  6  7  8  9 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

8)Use random numbers you generated as an index and assign NaN value to each of cell of the column alcohol

In [0]:
import random
a = random.randint(1,12)
b = random.randint(3,12)
wine_df.iloc[a,b] = np.NaN
print(wine_df.head(14))
#at 4,MAgnesium

     ok  Alcohol  MAlic Acid   Ash  Alcalinity of Ash MAgnesium  \
m
0   NaN    14.23        1.71  2.43               15.6       127
1   NaN    13.20        1.78  2.14               11.2       100
2   NaN    13.16        2.36  2.67               18.6       101
3     1    14.37        1.95  2.50               16.8       113
4     1    13.24        2.59  2.87               21.0       NaN
5     1    14.20        1.76  2.45               15.2       112
6     1    14.39        1.87  2.45               14.6        96
7     1    14.06        2.15  2.61               17.6       121
8     1    14.83        1.64  2.17               14.0        97
9     1    13.86        1.35  2.27               16.0        98
10    1    14.10        2.16  2.30               18.0       105
11    1    14.12        1.48  2.32               16.8        95
12    1    13.75        1.73  2.41               16.0        89
13    1    14.75        1.73  2.39               11.4        91

    Total phenols  Flavanoids  NF phenols  Proanthocyanin  Color intensity  \
m
0            2.80        3.06        0.28            2.29             5.64
1            2.65        2.76        0.26            1.28             4.38
2            2.80        3.24        0.30            2.81             5.68
3            3.85        3.49         NaN            2.18             7.80
4            2.80        2.69        0.39            1.82             4.32
5            3.27        3.39        0.34            1.97             6.75
6            2.50        2.52        0.30            1.98             5.25
7            2.60        2.51        0.31            1.25             5.05
8            2.80        2.98        0.29            1.98             5.20
9            2.98        3.15        0.22            1.85             7.22
10           2.95        3.32        0.22            2.38             5.75
11           2.20        2.43        0.26            1.57             5.00
12           2.60        2.76        0.29            1.81             5.60
13           3.10        3.69        0.43            2.81             5.40

     Hue  code  Proline
m
0   1.04  3.92     1065
1   1.05   NaN     1050
2   1.03  3.17     1185
3   0.86  3.45     1480
4   1.04  2.93      735
5   1.05  2.85     1450
6   1.02  3.58     1290
7   1.06  3.58     1295
8   1.08  2.85     1045
9   1.01  3.55     1045
10  1.25  3.17     1510
11  1.17  2.82     1280
12  1.15   2.9     1320
13  1.25  2.73     1150

9) How many missing values do we have?
     Hint: you can use isnull() and sum()

In [0]:
print(wine_df.isnull().values.any())
print(wine_df.isnull().any())
"""'''---'''"""
print(wine_df.isnull().any().any())
print(wine_df.head(5).isnull())

True
ok                    True
Alcohol              False
MAlic Acid           False
Ash                  False
Alcalinity of Ash    False
MAgnesium            False
Total phenols        False
Flavanoids           False
NF phenols            True
Proanthocyanin       False
Color intensity      False
Hue                  False
code                 False
Proline              False
dtype: bool
True
      ok  Alcohol  MAlic Acid    Ash  Alcalinity of Ash  MAgnesium  \
m
0   True    False       False  False              False      False
1   True    False       False  False              False      False
2   True    False       False  False              False      False
3  False    False       False  False              False      False
4  False    False       False  False              False      False

   Total phenols  Flavanoids  NF phenols  Proanthocyanin  Color intensity  \
m
0          False       False       False           False            False
1          False       False       False           False            False
2          False       False       False           False            False
3          False       False        True           False            False
4          False       False       False           False            False

     Hue   code  Proline
m
0  False  False    False
1  False  False    False
2  False  False    False
3  False  False    False
4  False  False    False

In [0]:
print(wine_df.isnull().sum())
i=wine_df.isnull().sum().sum()
print('total sum:'+str(i))

ok                   3
Alcohol              0
MAlic Acid           0
Ash                  0
Alcalinity of Ash    0
MAgnesium            0
Total phenols        0
Flavanoids           0
NF phenols           1
Proanthocyanin       0
Color intensity      0
Hue                  0
code                 0
Proline              0
dtype: int64
total sum:4

10) Delete the rows that contain missing values:

In [0]:
#renaming the new frame as ok2
ok2 = wine_df[['ok','Alcohol','MAlic Acid',	'Ash',	'Alcalinity of Ash',	'MAgnesium',	'Total phenols',	'Flavanoids',	'NF phenols',	'Proanthocyanin',	'Color intensity',	'Hue',	'code',	'Proline']].notnull()
print(ok2.head(5))
print(wine_df.dropna(subset=['ok','Alcohol','MAlic Acid',	'Ash',	'Alcalinity of Ash',	'MAgnesium',	'Total phenols',	'Flavanoids',	'NF phenols',	'Proanthocyanin',	'Color intensity',	'Hue',	'code',	'Proline']))

      ok  Alcohol  MAlic Acid   Ash  Alcalinity of Ash  MAgnesium  \
m
0  False     True        True  True               True       True
1  False     True        True  True               True       True
2  False     True        True  True               True       True
3   True     True        True  True               True       True
4   True     True        True  True               True       True

   Total phenols  Flavanoids  NF phenols  Proanthocyanin  Color intensity  \
m
0           True        True        True            True             True
1           True        True        True            True             True
2           True        True        True            True             True
3           True        True       False            True             True
4           True        True        True            True             True

    Hue  code  Proline
m
0  True  True     True
1  True  True     True
2  True  True     True
3  True  True     True
4  True  True     True
    ok  Alcohol  MAlic Acid   Ash  Alcalinity of Ash MAgnesium  Total phenols  \
m
4    1    13.24        2.59  2.87               21.0       NaN           2.80
5    1    14.20        1.76  2.45               15.2       112           3.27
6    1    14.39        1.87  2.45               14.6        96           2.50
7    1    14.06        2.15  2.61               17.6       121           2.60
8    1    14.83        1.64  2.17               14.0        97           2.80
9    1    13.86        1.35  2.27               16.0        98           2.98
10   1    14.10        2.16  2.30               18.0       105           2.95
11   1    14.12        1.48  2.32               16.8        95           2.20
12   1    13.75        1.73  2.41               16.0        89           2.60
13   1    14.75        1.73  2.39               11.4        91           3.10
14   1    14.38        1.87  2.38               12.0       102           3.30
15   1    13.63        1.81  2.70               17.2       112           2.85
16   1    14.30        1.92  2.72               20.0       120           2.80
17   1    13.83        1.57  2.62               20.0       115           2.95
18   1    14.19        1.59  2.48               16.5       108           3.30
19   1    13.64        3.10  2.56               15.2       116           2.70
20   1    14.06        1.63  2.28               16.0       126           3.00
21   1    12.93        3.80  2.65               18.6       102           2.41
22   1    13.71        1.86  2.36               16.6       101           2.61
23   1    12.85        1.60  2.52               17.8        95           2.48
24   1    13.50        1.81  2.61               20.0        96           2.53
25   1    13.05        2.05  3.22               25.0       124           2.63
26   1    13.39        1.77  2.62               16.1        93           2.85
27   1    13.30        1.72  2.14               17.0        94           2.40
28   1    13.87        1.90  2.80               19.4       107           2.95
29   1    14.02        1.68  2.21               16.0        96           2.65
30   1    13.73        1.50  2.70               22.5       101           3.00
31   1    13.58        1.66  2.36               19.1       106           2.86
32   1    13.68        1.83  2.36               17.2       104           2.42
33   1    13.76        1.53  2.70               19.5       132           2.95
..  ..      ...         ...   ...                ...       ...            ...
148  3    13.32        3.24  2.38               21.5        92           1.93
149  3    13.08        3.90  2.36               21.5       113           1.41
150  3    13.50        3.12  2.62               24.0       123           1.40
151  3    12.79        2.67  2.48               22.0       112           1.48
152  3    13.11        1.90  2.75               25.5       116           2.20
153  3    13.23        3.30  2.28               18.5        98           1.80
154  3    12.58        1.29  2.10               20.0       103           1.48
155  3    13.17        5.19  2.32               22.0        93           1.74
156  3    13.84        4.12  2.38               19.5        89           1.80
157  3    12.45        3.03  2.64               27.0        97           1.90
158  3    14.34        1.68  2.70               25.0        98           2.80
159  3    13.48        1.67  2.64               22.5        89           2.60
160  3    12.36        3.83  2.38               21.0        88           2.30
161  3    13.69        3.26  2.54               20.0       107           1.83
162  3    12.85        3.27  2.58               22.0       106           1.65
163  3    12.96        3.45  2.35               18.5       106           1.39
164  3    13.78        2.76  2.30               22.0        90           1.35
165  3    13.73        4.36  2.26               22.5        88           1.28
166  3    13.45        3.70  2.60               23.0       111           1.70
167  3    12.82        3.37  2.30               19.5        88           1.48
168  3    13.58        2.58  2.69               24.5       105           1.55
169  3    13.40        4.60  2.86               25.0       112           1.98
170  3    12.20        3.03  2.32               19.0        96           1.25
171  3    12.77        2.39  2.28               19.5        86           1.39
172  3    14.16        2.51  2.48               20.0        91           1.68
173  3    13.71        5.65  2.45               20.5        95           1.68
174  3    13.40        3.91  2.48               23.0       102           1.80
175  3    13.27        4.28  2.26               20.0       120           1.59
176  3    13.17        2.59  2.37               20.0       120           1.65
177  3    14.13        4.10  2.74               24.5        96           2.05

     Flavanoids  NF phenols  Proanthocyanin  Color intensity   Hue  code  \
m
4          2.69        0.39            1.82         4.320000  1.04  2.93
5          3.39        0.34            1.97         6.750000  1.05  2.85
6          2.52        0.30            1.98         5.250000  1.02  3.58
7          2.51        0.31            1.25         5.050000  1.06  3.58
8          2.98        0.29            1.98         5.200000  1.08  2.85
9          3.15        0.22            1.85         7.220000  1.01  3.55
10         3.32        0.22            2.38         5.750000  1.25  3.17
11         2.43        0.26            1.57         5.000000  1.17  2.82
12         2.76        0.29            1.81         5.600000  1.15   2.9
13         3.69        0.43            2.81         5.400000  1.25  2.73
14         3.64        0.29            2.96         7.500000  1.20     3
15         2.91        0.30            1.46         7.300000  1.28  2.88
16         3.14        0.33            1.97         6.200000  1.07  2.65
17         3.40        0.40            1.72         6.600000  1.13  2.57
18         3.93        0.32            1.86         8.700000  1.23  2.82
19         3.03        0.17            1.66         5.100000  0.96  3.36
20         3.17        0.24            2.10         5.650000  1.09  3.71
21         2.41        0.25            1.98         4.500000  1.03  3.52
22         2.88        0.27            1.69         3.800000  1.11     4
23         2.37        0.26            1.46         3.930000  1.09  3.63
24         2.61        0.28            1.66         3.520000  1.12  3.82
25         2.68        0.47            1.92         3.580000  1.13   3.2
26         2.94        0.34            1.45         4.800000  0.92  3.22
27         2.19        0.27            1.35         3.950000  1.02  2.77
28         2.97        0.37            1.76         4.500000  1.25   3.4
29         2.33        0.26            1.98         4.700000  1.04  3.59
30         3.25        0.29            2.38         5.700000  1.19  2.71
31         3.19        0.22            1.95         6.900000  1.09  2.88
32         2.69        0.42            1.97         3.840000  1.23  2.87
33         2.74        0.50            1.35         5.400000  1.25     3
..          ...         ...             ...              ...   ...   ...
148        0.76        0.45            1.25         8.420000  0.55  1.62
149        1.39        0.34            1.14         9.400000  0.57  1.33
150        1.57        0.22            1.25         8.600000  0.59   1.3
151        1.36        0.24            1.26        10.800000  0.48  1.47
152        1.28        0.26            1.56         7.100000  0.61  1.33
153        0.83        0.61            1.87        10.520000  0.56  1.51
154        0.58        0.53            1.40         7.600000  0.58  1.55
155        0.63        0.61            1.55         7.900000  0.60  1.48
156        0.83        0.48            1.56         9.010000  0.57  1.64
157        0.58        0.63            1.14         7.500000  0.67  1.73
158        1.31        0.53            2.70        13.000000  0.57  1.96
159        1.10        0.52            2.29        11.750000  0.57  1.78
160        0.92        0.50            1.04         7.650000  0.56  1.58
161        0.56        0.50            0.80         5.880000  0.96  1.82
162        0.60        0.60            0.96         5.580000  0.87  2.11
163        0.70        0.40            0.94         5.280000  0.68  1.75
164        0.68        0.41            1.03         9.580000  0.70  1.68
165        0.47        0.52            1.15         6.620000  0.78  1.75
166        0.92        0.43            1.46        10.680000  0.85  1.56
167        0.66        0.40            0.97        10.260000  0.72  1.75
168        0.84        0.39            1.54         8.660000  0.74   1.8
169        0.96        0.27            1.11         8.500000  0.67  1.92
170        0.49        0.40            0.73         5.500000  0.66  1.83
171        0.51        0.48            0.64         9.899999  0.57  1.63
172        0.70        0.44            1.24         9.700000  0.62  1.71
173        0.61        0.52            1.06         7.700000  0.64  1.74
174        0.75        0.43            1.41         7.300000  0.70  1.56
175        0.69        0.43            1.35        10.200000  0.59  1.56
176        0.68        0.53            1.46         9.300000  0.60  1.62
177        0.76        0.56            1.35         9.200000  0.61   1.6

     Proline
m
4        735
5       1450
6       1290
7       1295
8       1045
9       1045
10      1510
11      1280
12      1320
13      1150
14      1547
15      1310
16      1280
17      1130
18      1680
19       845
20       780
21       770
22      1035
23      1015
24       845
25       830
26      1195
27      1285
28       915
29      1035
30      1285
31      1515
32       990
33      1235
..       ...
148      650
149      550
150      500
151      480
152      425
153      675
154      640
155      725
156      480
157      880
158      660
159      620
160      520
161      680
162      570
163      675
164      615
165      520
166      695
167      685
168      750
169      630
170      510
171      470
172      660
173      740
174      750
175      835
176      840
177      560

[174 rows x 14 columns]

11) BONUS: Play with the data set below

In [0]:
wine_df.describe()

,Alcohol,MAlic Acid,Ash,Alcalinity of Ash,Total phenols,Flavanoids,NF phenols,Proanthocyanin,Color intensity,Hue,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,177.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,2.295112,2.029270,0.362542,1.590899,5.058090,0.957449,746.893258
std,0.811827,1.117146,0.274344,3.339564,0.625851,0.998859,0.124466,0.572359,2.318286,0.228572,314.907474
min,11.030000,0.740000,1.360000,10.600000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,2.800000,2.875000,0.440000,1.950000,6.200000,1.120000,985.000000
max,14.830000,5.800000,3.230000,30.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,1680.000000

In [0]:
wine_df.head(4).dropna(subset=['ok','Alcohol','MAlic Acid',	'Ash',	'Alcalinity of Ash',	'MAgnesium',	'Total phenols',	'Flavanoids',	'NF phenols',	'Proanthocyanin',	'Color intensity',	'Hue',	'code',	'Proline'])

Empty DataFrame
Columns: [ok, Alcohol, MAlic Acid, Ash, Alcalinity of Ash, MAgnesium, Total phenols, Flavanoids, NF phenols, Proanthocyanin, Color intensity, Hue, code, Proline]
Index: []

In [0]:
wine_df.head(7).dropna(subset=['ok','Alcohol','MAlic Acid',	'Ash',	'Alcalinity of Ash',	'MAgnesium',	'Total phenols',	'Flavanoids',	'NF phenols',	'Proanthocyanin',	'Color intensity',	'Hue',	'code',	'Proline'])

,ok,Alcohol,MAlic Acid,Ash,Alcalinity of Ash,MAgnesium,Total phenols,Flavanoids,NF phenols,Proanthocyanin,Color intensity,Hue,code,Proline
m,,,,,,,,,,,,,,
4,1,13.24,2.59,2.87,21.0,NaN,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290

In [0]:
wine_df.columns.values

array(['ok', 'Alcohol', 'MAlic Acid', 'Ash', 'Alcalinity of Ash',
       'MAgnesium', 'Total phenols', 'Flavanoids', 'NF phenols',
       'Proanthocyanin', 'Color intensity', 'Hue', 'code', 'Proline'],
      dtype=object)

In [0]:
wine_df.columns

Index(['ok', 'Alcohol', 'MAlic Acid', 'Ash', 'Alcalinity of Ash', 'MAgnesium',
       'Total phenols', 'Flavanoids', 'NF phenols', 'Proanthocyanin',
       'Color intensity', 'Hue', 'code', 'Proline'],
      dtype='object')

In [0]:
arr=[]
arr=wine_df.columns
print(arr)

Index(['ok', 'Alcohol', 'MAlic Acid', 'Ash', 'Alcalinity of Ash', 'MAgnesium',
       'Total phenols', 'Flavanoids', 'NF phenols', 'Proanthocyanin',
       'Color intensity', 'Hue', 'code', 'Proline'],
      dtype='object')

In [0]:
arr=[]
arr=wine_df.columns.values
print(arr)  #this one's better

['ok' 'Alcohol' 'MAlic Acid' 'Ash' 'Alcalinity of Ash' 'MAgnesium'
 'Total phenols' 'Flavanoids' 'NF phenols' 'Proanthocyanin'
 'Color intensity' 'Hue' 'code' 'Proline']

**COMPLETE**

```
*~COMPLETE~*
```