**PANDAS EXERCISE:**

1) Import necessary modules:-

In [0]:
import numpy as np
import pandas as pd

2) Load url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data" to a dataframe named wine_df
This is a wine dataset

In [0]:
wine_df =  pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

3) Print first five rows:

In [7]:
print(wine_df.head())

wine_df.head(5)

   1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29  5.64  1.04  3.92  \
0  1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
1  1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
2  1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
3  1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93
4  1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97  6.75  1.05  2.85

   1065
0  1050
1  1185
2  1480
3   735
4  1450

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

4) Assign wine_df to a different variable wine_df_copy and then delete all odd rows of wine_df_copy

In [23]:
wine_df.describe()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,1.943503,12.993672,2.339887,2.366158,19.516949,99.587571,2.292260,2.023446,0.362316,1.586949,5.054802,0.956983,2.604294,745.096045
std,0.773991,0.808808,1.119314,0.275080,3.336071,14.174018,0.626465,0.998658,0.124653,0.571545,2.324446,0.229135,0.705103,314.884046
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.360000,1.600000,2.210000,17.200000,88.000000,1.740000,1.200000,0.270000,1.250000,3.210000,0.780000,1.930000,500.000000
50%,2.000000,13.050000,1.870000,2.360000,19.500000,98.000000,2.350000,2.130000,0.340000,1.550000,4.680000,0.960000,2.780000,672.000000
75%,3.000000,13.670000,3.100000,2.560000,21.500000,107.000000,2.800000,2.860000,0.440000,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [32]:
import pandas
wine_df_copy = wine_df
print(wine_df_copy.head()) #to check if earlier assignment operation worked
#for i in range(0,180):
 # if (i%2!=0):
  #  wine_df_copy.drop(wine_df_copy.index[i],axis=1)
#print(wine_df_copy)    
print(wine_df_copy.iloc[::2])
#wine_df_copy.drop((0,1))
    #wine_df_copy.drop(i,axis=0)
#wine_df_copy

    1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29  5.64  1.04  3.92  \
0   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
5   1  14.39  1.87  2.45  14.6   96  2.50  2.52  0.30  1.98  5.25  1.02  3.58
8   1  13.86  1.35  2.27  16.0   98  2.98  3.15  0.22  1.85  7.22  1.01  3.55
12  1  14.75  1.73  2.39  11.4   91  3.10  3.69  0.43  2.81  5.40  1.25  2.73
14  1  13.63  1.81  2.70  17.2  112  2.85  2.91  0.30  1.46  7.30  1.28  2.88

    1065
0   1050
5   1290
8   1045
12  1150
14  1310
     1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29      5.64  1.04  \
0    1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.380000  1.05
8    1  13.86  1.35  2.27  16.0   98  2.98  3.15  0.22  1.85  7.220000  1.01
14   1  13.63  1.81  2.70  17.2  112  2.85  2.91  0.30  1.46  7.300000  1.28
21   1  13.71  1.86  2.36  16.6  101  2.61  2.88  0.27  1.69  3.800000  1.11
27   1  13.87  1.90  2.80  19.4  107  2.95  2.97  0.37  1.76  4.500000  1.25
35   1  13.28  1.64  2.84  15.5  110  2.60  2.68  0.34  1.36  4.600000  1.09
41   1  13.88  1.89  2.59  15.0  101  3.25  3.56  0.17  1.70  5.430000  0.88
48   1  13.94  1.73  2.27  17.4  108  2.88  3.54  0.32  2.08  8.900000  1.12
54   1  13.56  1.73  2.46  20.5  116  2.96  2.78  0.20  2.45  6.250000  0.98
62   2  12.37  1.13  2.16  19.0   87  3.50  3.10  0.19  1.87  4.450000  1.22
68   2  12.21  1.19  1.75  16.8  151  1.85  1.28  0.14  2.50  2.850000  1.28
75   2  13.03  0.90  1.71  16.0   86  1.95  2.03  0.24  1.46  4.600000  1.19
81   2  12.08  1.13  2.51  24.0   78  2.00  1.58  0.40  1.40  2.200000  1.31
89   2  12.08  1.83  2.32  18.5   81  1.60  1.50  0.52  1.64  2.400000  1.08
95   2  11.81  2.12  2.74  21.5  134  1.60  0.99  0.14  1.56  2.500000  0.95
102  2  11.82  1.72  1.88  19.5   86  2.50  1.64  0.37  1.42  2.060000  0.94
108  2  11.61  1.35  2.70  20.0   94  2.74  2.92  0.29  2.49  2.650000  0.96
116  2  12.42  1.61  2.19  22.5  108  2.00  2.09  0.34  1.61  2.060000  1.06
122  2  13.05  5.80  2.13  21.5   86  2.62  2.65  0.30  2.01  2.600000  0.73
129  3  12.86  1.35  2.32  18.0  122  1.51  1.25  0.21  0.94  4.100000  0.76
135  3  12.25  4.72  2.54  21.0   89  1.38  0.47  0.53  0.80  3.850000  0.75
143  3  12.25  3.88  2.20  18.5  112  1.38  0.78  0.29  1.14  8.210000  0.65
149  3  13.50  3.12  2.62  24.0  123  1.40  1.57  0.22  1.25  8.600000  0.59
156  3  12.45  3.03  2.64  27.0   97  1.90  0.58  0.63  1.14  7.500000  0.67
162  3  12.96  3.45  2.35  18.5  106  1.39  0.70  0.40  0.94  5.280000  0.68
170  3  12.77  2.39  2.28  19.5   86  1.39  0.51  0.48  0.64  9.899999  0.57
176  3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35  9.200000  0.61

     3.92  1065
0    3.40  1050
8    3.55  1045
14   2.88  1310
21   4.00  1035
27   3.40   915
35   2.78   880
41   3.56  1095
48   3.10  1260
54   3.03  1120
62   2.87   420
68   3.07   718
75   2.48   392
81   2.72   630
89   2.27   480
95   2.26   625
102  2.44   415
108  3.26   680
116  2.96   345
122  3.10   380
129  1.29   630
135  1.27   720
143  2.00   855
149  1.30   500
156  1.73   880
162  1.75   675
170  1.63   470
176  1.60   560

In [36]:
#iris_df[(iris_df['sepal_width']>3.3)
wine_df_copy.index.name='m' #this is working
wine_df_copy[(wine_df_copy[m])%2!=0] #please help with this

NameError: ignored

5) Assign the columns as below:
The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):
1) Alcohol
2) Malic acid
3) Ash
4) Alcalinity of ash
5) Magnesium
6) Total phenols
7) Flavanoids
8) Nonflavanoid phenols
9) Proanthocyanins
10)Color intensity
11)Hue
12)OD280/OD315 of diluted wines
13)Proline

In [0]:
wine_df = wine_df.rename(columns={'14.23':'Alcohol',	'1.71':'MAlic Acid',	'2.43':'Ash',	'15.6':'Alcalinity of Ash',	'127':'MAgnesium',	'2.8':'Total phenols',	'3.06':'Flavanoids',	'.28':'NF phenols',	'2.29':'Proanthocyanin',	'5.64':'Color intensity',	'1.04':'Hue',	'3.92':'code',	'1065':'Proline'})

6)Set the values of the first 3 rows from alcohol as NaN
Hint- Use iloc to select 3 rows of wine_df

In [42]:
wine_df.Alcohol.iloc[[1,2,3]] = 'NaN'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

7)Create an array of 10 random numbers uptill 10 and assign it to a variable named random

In [51]:
random=np.arange(11)
print(random)
x = [i for i in range(10)]
print(x)

[ 0  1  2  3  4  5  6  7  8  9 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

INCOMPLETE

```
#INCOMPLETE
```